.hide-scrollbar1 {
    -ms-overflow-style: none;
    scrollbar-width: none;
    overflow-y: auto;
    overflow-x: hidden;
    height: 90vh;
    & .avatar {
        height: 3.125rem;
        min-height: 3.125rem;
        width: 3.125rem;
        min-width: 3.125rem;
        display: flex;
        justify-content: center;
        align-items: center;
        border-radius: 50%;
        & .stretched-label {
            position: absolute;
            height: 100%;
            width: 100%;
            left: 0;
            top: 0;
        }
    }
    & .avatar-online {
        background: #f5f6fa;
        display: inline-block;
        position: relative;
        line-height: 0;
        & img {
            height: 3.125rem;
            min-height: 3.125rem;
            width: 3.125rem;
            min-width: 3.125rem;
            border-radius: 50%;
        }
    }
    & .font-bold {
        font-weight: 700 !important;
    }
}