.hide-scrollbar-user {
  -ms-overflow-style: none;
  scrollbar-width: none;
  overflow-y: auto;
  overflow-x: hidden;

  & .avatar {
    height: 5.75rem;
    min-height: 5.75rem;
    width: 5.75rem;
    min-width: 5.75rem;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 50%;

    & .stretched-label {
      position: absolute;
      height: 100%;
      width: 100%;
      left: 0;
      top: 0;
    }
  }

  & .avatar-xl {
    background: #f5f6fa;
    display: inline-block;
    position: relative;
    line-height: 0;

    & img {
      height: 5.75rem;
      min-height: 5.75rem;
      width: 5.75rem;
      min-width: 5.75rem;
      border-radius: 50%;
    }
  }
  & .font-bold {
    font-weight: 700 !important;
  }
  & .btn-basic {
    background-color: #ececec;
    border-color: #ececec;
  }
  & .btn-basic:hover {
    color: #212529;
    background-color: #ececec;
    border-color: #ececec;
  }
}
